# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# testing
/coverage

# production
/build

# misc
.DS_Store
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# testing
/coverage

# production
/build

# misc
.DS_Store
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo


# yarn berry (exclude heavy offline artifacts)
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
.pnp.*
