@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
	@apply h-full;
}

body {
	background-color: #E7E0D6;
	@apply text-gray-900;
}

.container {
	@apply mx-auto px-4 sm:px-6 lg:px-8;
}
